@charset "UTF-8";

@font-face {
    font-family: cordel01;
    src: url(fonte/PassionOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: cordel02;
    src: url(fonte/PassionOne-Bold.ttf) format(truetype);
}

@font-face {
    font-family: cordel03;
    src: url(fonte/KaushanScript-Regular.ttf) format(truetype);
}


:root {
    --fonte-cordel01 : 'cordel01', cursive;
    --fonte-cordel02 : 'cordel02', cursive;
    --fonte-cordel03 : 'cordel03', curisve;
}

*{
    margin: 0px;
   }

   body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   header {
    background-color: black;
    color: white;

    text-align: center;
    padding: 10px;
   }

   header h1 {
    font-size: 10vh;
    font-family: var(--fonte-cordel01), Verdana, Geneva, Tahoma, sans-serif;
   }

   header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
   }

   header a:hover {
    text-decoration: underline;
   }

   main {
    font-size: 1.5em;
   }

   .simg {
    background-color: white;
    font-family: var(--fonte-cordel03);
   }

    