@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#phone{
    background-image: url(imagens/frame-iphone.png);
    background-size: 40vh 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: absolute;
    height: 100%;
    width: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

iframe {
    display: block;
    background-size: 40vh 75vh;
    height: 57vh;
    width: 34.5vh;

    position: absolute;
    left: 50.1%;
    top: 50.2%;

    transform: translate(-50%, -50%);

}

img{
    width: 5vh;
    border-radius: 100%;
    box-shadow: 1px 1px 1px black;
    
}